*~
*.o
*.lo
*.la
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
*.pot
.dirstamp
stamp-*
.deps
.libs
autom4te.cache
intltool-*
po/*.gmo
po/.intltool-merge-cache
properties/resources.c
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
appdata/network-manager-l2tp.metainfo.xml
/cscope.*

auth-dialog/nm-l2tp-auth-dialog
nm-l2tp-service.name
nm-l2tp.desktop
src/nm-l2tp-pppd-service-dbus.c
src/nm-l2tp-pppd-service-dbus.h
src/nm-l2tp-service

/NetworkManager-l2tp*.tar*
