*~
*.o
*.lo
*.la
Makefile
Makefile.in*
compile
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
cscope.*out
*.pot
.dirstamp
stamp-*
.deps
.libs

/NetworkManager-l2tp*.tar*

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/config.*
/configure

auth-dialog/nm-l2tp-auth-dialog
appdata/network-manager-l2tp.metainfo.xml

m4/codeset.m4
m4/extern-inline.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/gtk-doc.m4
m4/glibc2.m4
m4/glibc21.m4
m4/host-cpu-c-abi.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/lt*.m4
m4/nls.m4
m4/pkg.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4

nm-l2tp-service.name

po/*.gmo
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin

properties/resources.[ch]
gtk4/

src/nm-l2tp-pppd-service-dbus.c
src/nm-l2tp-pppd-service-dbus.h
src/nm-l2tp-service

# The following names are no longer present on this branch,
# but they were on older versions. Thus keep ignoring them
# otherwise when switching branches these untracked files show
# up.
intltool-*
m4/intltool.m4
nm-l2tp.desktop
po/.intltool-merge-cache
