#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DPKG_EXPORT_BUILDFLAGS = 1
PPPD_VERSION = $(shell cat /usr/include/pppd/patchlevel.h | grep 'VERSION' | cut -f 3 | sed 's/\"//g')

include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	intltoolize -c -f
	dh_auto_configure -- \
		--libexecdir=\$${prefix}/lib/NetworkManager \
		--with-pppd-plugin-dir=\$${prefix}/lib/pppd/$(PPPD_VERSION) \
		--disable-static

override_dh_makeshlibs:
	dh_makeshlibs \
		-X\$${prefix}/lib/$(DEB_HOST_MULTIARCH)/NetworkManager/* \
		-X\$${prefix}/lib/NetworkManager/* \
		-X\$${prefix}/lib/pppd/$(PPPD_VERSION)/*

override_dh_install:
		dh_install --list-missing
